In [1]:
import sqlite3
import pandas as pd
from sklearn.tree import DecisionTreeRegressor 
from sklearn.linear_model import LinearRegression 
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error 
from math import sqrt

In [2]:
conn = sqlite3.connect(r'C:\Users\Shashank Sundi\Desktop\I neuron\assignments\ML Project-1 (regression Classification)\football data database\database.sqlite')
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
cursor.fetchall()

[('sqlite_sequence',),
 ('Player_Attributes',),
 ('Player',),
 ('Match',),
 ('League',),
 ('Country',),
 ('Team',),
 ('Team_Attributes',)]

In [3]:
pd.read_sql_query("SELECT * FROM Player", conn)

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154
...,...,...,...,...,...,...,...
11055,11071,26357,Zoumana Camara,2488,1979-04-03 00:00:00,182.88,168
11056,11072,111182,Zsolt Laczko,164680,1986-12-18 00:00:00,182.88,176
11057,11073,36491,Zsolt Low,111191,1979-04-29 00:00:00,180.34,154
11058,11074,35506,Zurab Khizanishvili,47058,1981-10-06 00:00:00,185.42,172
11059,11075,39902,Zvjezdan Misimovic,102359,1982-06-05 00:00:00,180.34,176

In [4]:
pd.read_sql_query("SELECT * FROM Player_Attributes", conn).head()

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [5]:
pd.read_sql_query("SELECT * FROM Match", conn).head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67

In [6]:
pd.read_sql_query("SELECT * FROM League", conn).head()

      id  country_id                    name
0      1           1  Belgium Jupiler League
1   1729        1729  England Premier League
2   4769        4769          France Ligue 1
3   7809        7809   Germany 1. Bundesliga
4  10257       10257           Italy Serie A

In [7]:
pd.read_sql_query("SELECT * FROM Team", conn).head()

   id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987             673.0           KRC Genk             GEN
1   2         9993             675.0       Beerschot AC             BAC
2   3        10000           15005.0   SV Zulte-Waregem             ZUL
3   4         9994            2007.0   Sporting Lokeren             LOK
4   5         9984            1750.0  KSV Cercle Brugge             CEB

In [8]:
pd.read_sql_query("SELECT * FROM Team_Attributes", conn).head()

,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,buildUpPlayPassingClass,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,1,434,9930,2010-02-22 00:00:00,60,Balanced,NaN,Little,50,Mixed,...,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,2,434,9930,2014-09-19 00:00:00,52,Balanced,48.0,Normal,56,Mixed,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,3,434,9930,2015-09-10 00:00:00,47,Balanced,41.0,Normal,54,Mixed,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,4,77,8485,2010-02-22 00:00:00,70,Fast,NaN,Little,70,Long,...,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,5,77,8485,2011-02-22 00:00:00,47,Balanced,NaN,Little,52,Mixed,...,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover

In [9]:
pd.read_sql_query("SELECT * FROM Country", conn).head()

      id     name
0      1  Belgium
1   1729  England
2   4769   France
3   7809  Germany
4  10257    Italy

In [10]:
data=pd.read_sql_query("SELECT * FROM Player_Attributes", conn)
data.head()

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [11]:
data.columns

Index(['id', 'player_fifa_api_id', 'player_api_id', 'date', 'overall_rating',
       'potential', 'preferred_foot', 'attacking_work_rate',
       'defensive_work_rate', 'crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy',
       'long_passing', 'ball_control', 'acceleration', 'sprint_speed',
       'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina',
       'strength', 'long_shots', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning',
       'gk_reflexes'],
      dtype='object')

In [12]:
#rearranging data and removing date column , id column

data=data[['id', 'player_fifa_api_id', 'player_api_id',
       'potential', 'preferred_foot', 'attacking_work_rate',
       'defensive_work_rate', 'crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy',
       'long_passing', 'ball_control', 'acceleration', 'sprint_speed',
       'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina',
       'strength', 'long_shots', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning',
       'gk_reflexes','overall_rating']]
data.index=data.id
data=data.drop(['id'],axis=1)

In [13]:
data.head()

,player_fifa_api_id,player_api_id,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,short_passing,...,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,overall_rating
id,,,,,,,,,,,,,,,,,,,,,
1,218353,505942,71.0,right,medium,medium,49.0,44.0,71.0,61.0,...,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0,67.0
2,218353,505942,71.0,right,medium,medium,49.0,44.0,71.0,61.0,...,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0,67.0
3,218353,505942,66.0,right,medium,medium,49.0,44.0,71.0,61.0,...,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0,62.0
4,218353,505942,65.0,right,medium,medium,48.0,43.0,70.0,60.0,...,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0,61.0
5,218353,505942,65.0,right,medium,medium,48.0,43.0,70.0,60.0,...,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0,61.0

In [15]:
data.dtypes

player_fifa_api_id       int64
player_api_id            int64
potential              float64
preferred_foot          object
attacking_work_rate     object
defensive_work_rate     object
crossing               float64
finishing              float64
heading_accuracy       float64
short_passing          float64
volleys                float64
dribbling              float64
curve                  float64
free_kick_accuracy     float64
long_passing           float64
ball_control           float64
acceleration           float64
sprint_speed           float64
agility                float64
reactions              float64
balance                float64
shot_power             float64
jumping                float64
stamina                float64
strength               float64
long_shots             float64
aggression             float64
interceptions          float64
positioning            float64
vision                 float64
penalties              float64
marking                float64
standing_tackle        float64
sliding_tackle         float64
gk_diving              float64
gk_handling            float64
gk_kicking             float64
gk_positioning         float64
gk_reflexes            float64
overall_rating         float64
dtype: object

In [18]:
a=data.dtypes[data.dtypes=='object'].index
data[a].describe()

       preferred_foot attacking_work_rate defensive_work_rate
count          183142              180748              183142
unique              2                   8                  19
top             right              medium              medium
freq           138409              125070              130846

In [20]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
player_fifa_api_id,183978.0,165671.524291,53851.094769,2.0,155798.0,183488.0,199848.0,234141.0
player_api_id,183978.0,135900.617324,136927.840510,2625.0,34763.0,77741.0,191080.0,750584.0
potential,183142.0,73.460353,6.592271,39.0,69.0,74.0,78.0,97.0
crossing,183142.0,55.086883,17.242135,1.0,45.0,59.0,68.0,95.0
finishing,183142.0,49.921078,19.038705,1.0,34.0,53.0,65.0,97.0
heading_accuracy,183142.0,57.266023,16.488905,1.0,49.0,60.0,68.0,98.0
short_passing,183142.0,62.429672,14.194068,3.0,57.0,65.0,72.0,97.0
volleys,181265.0,49.468436,18.256618,1.0,35.0,52.0,64.0,93.0
dribbling,183142.0,59.175154,17.744688,1.0,52.0,64.0,72.0,97.0
curve,181265.0,52.965675,18.255788,2.0,41.0,56.0,67.0,94.0
free_kick_accuracy,183142.0,49.380950,17.831746,1.0,36.0,50.0,63.0,97.0
long_passing,183142.0,57.069880,14.394464,3.0,49.0,59.0,67.0,97.0
ball_control,183142.0,63.388879,15.196671,5.0,58.0,67.0,73.0,97.0
acceleration,183142.0,67.659357,12.983326,10.0,61.0,69.0,77.0,97.0
sprint_speed,183142.0,68.051244,12.569721,12.0,62.0,69.0,77.0,97.0
agility,181265.0,65.970910,12.954585,11.0,58.0,68.0,75.0,96.0
reactions,183142.0,66.103706,9.155408,17.0,61.0,67.0,72.0,96.0
balance,181265.0,65.189496,13.063188,12.0,58.0,67.0,74.0,96.0
shot_power,183142.0,61.808427,16.135143,2.0,54.0,65.0,73.0,97.0
jumping,181265.0,66.969045,11.006734,14.0,60.0,68.0,74.0,96.0
stamina,183142.0,67.038544,13.165262,10.0,61.0,69.0,76.0,96.0
strength,183142.0,67.424529,12.072280,10.0,60.0,69.0,76.0,96.0
long_shots,183142.0,53.339431,18.367025,1.0,41.0,58.0,67.0,96.0
aggression,183142.0,60.948046,16.089521,6.0,51.0,64.0,73.0,97.0
interceptions,183142.0,52.009271,19.450133,1.0,34.0,57.0,68.0,96.0
positioning,183142.0,55.786504,18.448292,2.0,45.0,60.0,69.0,96.0
vision,181265.0,57.873550,15.144086,1.0,49.0,60.0,69.0,97.0
penalties,183142.0,55.003986,15.546519,2.0,45.0,57.0,67.0,96.0
marking,183142.0,46.772242,21.227667,1.0,25.0,50.0,66.0,96.0
standing_tackle,183142.0,50.351257,21.483706,1.0,29.0,56.0,69.0,95.0
sliding_tackle,181265.0,48.001462,21.598778,2.0,25.0,53.0,67.0,95.0
gk_diving,183142.0,14.704393,16.865467,1.0,7.0,10.0,13.0,94.0
gk_handling,183142.0,16.063612,15.867382,1.0,8.0,11.0,15.0,93.0
gk_kicking,183142.0,20.998362,21.452980,1.0,8.0,12.0,15.0,97.0
gk_positioning,183142.0,16.132154,16.099175,1.0,8.0,11.0,15.0,96.0
gk_reflexes,183142.0,16.441439,17.198155,1.0,8.0,11.0,15.0,96.0
overall_rating,183142.0,68.600015,7.041139,33.0,64.0,69.0,73.0,94.0

In [23]:
data.shape

(183978, 40)

In [26]:
data.isnull().sum()

player_fifa_api_id        0
player_api_id             0
potential               836
preferred_foot          836
attacking_work_rate    3230
defensive_work_rate     836
crossing                836
finishing               836
heading_accuracy        836
short_passing           836
volleys                2713
dribbling               836
curve                  2713
free_kick_accuracy      836
long_passing            836
ball_control            836
acceleration            836
sprint_speed            836
agility                2713
reactions               836
balance                2713
shot_power              836
jumping                2713
stamina                 836
strength                836
long_shots              836
aggression              836
interceptions           836
positioning             836
vision                 2713
penalties               836
marking                 836
standing_tackle         836
sliding_tackle         2713
gk_diving               836
gk_handling             836
gk_kicking              836
gk_positioning          836
gk_reflexes             836
overall_rating          836
dtype: int64

In [27]:
data[data.overall_rating.isnull()]

,player_fifa_api_id,player_api_id,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,short_passing,...,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,overall_rating
id,,,,,,,,,,,,,,,,,,,,,
484,33022,31684,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
984,111085,29904,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1753,165740,24159,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2090,176941,31916,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2483,177615,37249,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182588,116368,25538,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183250,139865,32633,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183310,141272,33823,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183362,168650,25772,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183488,28765,38843,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN